# Google Drive Configuration
# Create a Service Account in Google Cloud Console
# Enable Google Drive API
# Grant "Editor" access to the Service Account on the specific Folder ID

GOOGLE_CLIENT_EMAIL=your-service-account-email@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
GOOGLE_DRIVE_FOLDER_ID=your_folder_id_here
